.winner
{
    font-size: 40px;
}

.container
{
    background: lightseagreen;
    width: 35em;
    height: 30em;
    padding:1.5em 1.5em 1.5em 1.5em;
    margin-top:5em;
    margin-bottom:5em;
}

.circle
{
    height: 3.25em;
    width: 5em;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5em 1em 0.5em 1em;
}

.white
{
    background-color: white;
    
}

.red
{
    background-color: red;
}

.yellow
{
    background-color: yellow;
}

.lightBlue
{
    background-color: lightblue;
}

.player
{
    font-size: 40px;
}